.checkoutProduct{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px; 
}
.checkoutProduct__rating{
    display: flex;
}
checkoutProduct__info{
    padding-left: 20px;
}
.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}
.checkoutProduct__info > button{
    background-color: navajowhite;
    border: 1% solid;
    border-color: rgb(230, 198, 166);
}