.login {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #d0cece;
}
.login__container>h1 {
    font-weight: 500;
    margin-bottom: 20px;
}
.login__container>form>h5 {
    margin-bottom: 5px;
}
.login__container>form>input {
    height: 30px;
    margin-bottom: 10px;
    width: 98%;
    background-color: #fff;
}
.login__container>p {
    margin-top: 15px;
    font-size: 12px;
}
.login__logo {
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login__signinbutton {
    border: 1px solid;
    margin-top: 10px;
    color: #000;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    font-weight: 400;
    background: #fcde82;
}
.login__registerbutton, .login__signinbutton {
    border: 1px solid;
    margin-top: 10px;
    color: #000;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    font-weight: 400;
}